
video{
  width: 100%;
  height: auto;
  min-height: 870px
  opacity:
  z-index: 0;
}

@media screen and (max-width: 375px)
main.bar{
  width: 100%;
  height: 870px;
  position: absolute;
}


p.brand{
  display:none;
  text-align: center;
  font-family: 'Rokkitt', serif;
  color: white;
  text-shadow: 2px 2px #000;
  font-size: 30px;
  border: solid black 0px;
  z-index: 1000000;
  margin-top: -1850px;
}

@media screen and (min-width: 375px)
{
  #statement{
    margin: 0 auto;
    width: 80%;
    position:relative;
    text-align: center;
    z-index: 1000000;

  }
}

img.social{
  padding: 10px
}

.container{
  background: url("/app/sources/binary.jpeg") fixed;
  background-position: bottom;;
  background-size: cover;
  width: 100%;
  height: 570px;
  color: #fff;
  margin-top: -10px;
}

.motive{
  font-family: 'Rokkitt', serif;
  text-shadow: 2px 2px #000;
  text-align: center;
  padding-top: 250px
}

.row{
  position: relative;;
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 360px;
  margin-bottom: 70px;
}

div.photo{
  width: 200px;
  height: 200px;
  background: url("/app/sources/Isaac.jpg") center no-repeat;
  background-size: 200px 280px;
  text-align: center;
  border-radius: 500px;
  /* border: 3px solid rgb(210,210,210); */
  background-color: white;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

div.contact{
  width: 200px;
  height: 200px;
  background: url("/app/sources/contacts.jpg") center no-repeat;
  background-size: 230px 230px;
  text-align: center;
  border-radius: 500px;
  background-color: white;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

div.box {
  font-family: 'Rokkitt', serif;
  color: white;
  text-shadow: 2px 2px #000;
  text-align: center;
  width: 50%;
  height: 360px;
  float: left;
  padding:
}

div.portfolio{
  width: 200px;
  height: 200px;
  background: url("/app/sources/Folder-icon.png") center no-repeat;
  background-size: 100px 100px;
  text-align: center;
  border-radius: 500px;
  background-color: white;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

.column{
  display: inline-block;
  width: 90%;
  margin: 5%;
  text-align: center;
  justify-content: space-around;
}


@media screen and (max-width: 375px)
full-nav{
  margin-bottom: -170px;
  color: #fff;
  right: 10px;
  z-index: 1000000;
  font-size: 15px;
}

div.logo{
  margin-bottom: -170px;
  z-index: 1000000;
  font-size: 15px;
  position: absolute;
  color: #fff;
  font-family: 'Rokkitt', serif;
  text-shadow: 2px 2px #000;;
  padding-left: 10px;
}
nav.about{
  background: url("/app/sources/Motivation_basics.jpg") fixed;
  background-position: center;
  background-size: cover;
  height: 375px;
}

nav.portfolio{
  background: url(/app/sources/mountains.jpg) center no-repeat ;
  background-size: cover;
  height: 350px;
}

div.project-container{
  width: 100%;
}

ul.inline{
  decoration: none;
  display: inline;
  margin-bottom: -170px;
  z-index: 1000000;
  font-size: 20px;
  position: absolute;
  color: #fff;
  font-family: 'Rokkitt', serif;
  text-shadow: 2px 2px #000;
  padding-left: 10px;
  top: 10px;
  right: 10px;
}
a{
  color: #fff;

}
li{
  decoration: none;
  display: inline;
  padding: 10px
}

.photo_circle {
    width: 175px;
    text-align: center;
    height: 175px;
    border-radius: 400px;
    /* border: 3px solid rgb(210,210,210); */
    background-color: white;
    overflow: hidden;
    display: inline-block;

    margin: 10px 30px;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

.photo_circle.UMW{
  background: url("/app/sources/umw.jpg") center no-repeat #e8dee1;
  background-color: #fff;
  background-size: 130px 130px;
 -webkit-filter: grayscale(0.9);
}


.photo_circle.va{
  background: url("/app/sources/staticmap.png") center no-repeat #e8dee1;
  background-size: 300px 180px;
 -webkit-filter: grayscale(0.9);
}

.photo_circle.ga{
  background: url("/app/sources/ga.png") center no-repeat #e8dee1;
  background-color: #fff;
  background-size: 150px 150px;
 -webkit-filter: grayscale(0.9);
}

div.circles{
  width: 300px;
  height: 300px;
  background: url("/app/sources/athletic.jpg") center no-repeat;
  background-size: 300px 300px;
  text-align: center;
  border-radius: 500px;
  /* border: 3px solid rgb(210,210,210); */
  background-color: white;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  box-shadow: inset 0px 0px 20px rgba(0,0,0,0.9);
}

.Ed-content{
  text-align: center;
  font-size: 30px;
  background-color: gray;
  height: auto;
  width: 100%;
}

.section-content{
  padding-top: 60px;
  height: 985px;
}

.section-content p{
  font-family: 'Rokkitt', serif;
  padding: 30px;
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 22px;
}

.section-content h5{
  font-family: 'Rokkitt', serif;
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 30px;
}

.section-content h4{
  font-family: 'Rokkitt', serif;
  padding-top: 45px;
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 30px;
}

section-content h4{
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 30px;
}

div#photo_circle_container{
  display: block;
  height: 200px;
  width: 100%;
  margin: 0 auto;
}

div.circle-holder{
  margin: 0 auto;
  width: 705px;
}

 .photo_circle.va:hover{
   -webkit-filter: grayscale(0);
 }

 .photo_circle.UMW:hover{
    -webkit-filter: grayscale(0);
    background-color: #fff;
 }

 .photo_circle.ga:hover {
    -webkit-filter: grayscale(0);
    background-color: #fff;
 }

 h6{
   margin-top: 75px;
   color: white;
   background-color: #000;
   -webkit-filter: grayscale(0.8);
   padding: 5px;
 }

 .column p{
   padding: 10px;
 }

 a.info{
    display: inline-block;
    text-decoration: none;
    padding: 2% 3%;
    background: #222;
    color: #fff;
    -webkit-box-shadow: 0 0 1px #000;
    -moz-box-shadow: 0 0 1px #000;
    box-shadow: 0 0 1px #000;
    border-radius: 10px;
    border: 1px solid #CCC;
 }
div.skills{
  width: 100%;
  padding: 10px;
}

div.skill{
  background-color: orange;
  display: inline-block;
  padding: 15px;
  width: auto;
  margin: 2px;
  font-size: 15px;
  box-shadow: 0 0 5px #000;
  border-radius: 10px;
  border: 1px solid #CCC;

}

 .office{
   background: url("/app/sources/office.jpg") fixed;
   background-position: center;
   background-size: cover;
   width: 100%;
   height: 400px;
 }

 .end{
   background-color: #FFF;
   height: 30px;
   width: 100%;
   color: #000;
   text-align: center;
   font-family: 'Rokkitt', serif;
   text-shadow: 2px 2px #FFF;
 }

 .end p{
   font-size: 15px;
   margin-top: 15px;
 }

div.parallax-footer{
  background: url("/app/sources/office.jpg") fixed;
  background-position: center;
  background-size: cover;
  position: absolute;
  min-height: 360px;
  width: 100%;
}


 .Projects1{
   background-color: blue;

 }

 .Projects2{
   background-color: green;
 }

 .Projects3{
   background-color: green;

 }

 .Projects4{
   background-color: blue;
 }

 .Projects5{
   background-color: blue;
 }

 .Projects6{
   background-color: green;
 }
